<a href="https://colab.research.google.com/github/Sagi15G/de_python_course/blob/main/de_python_hw_including_answers_all.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DE Python Home Assignment

## Part 1 : Data Loading

Our data set for this assignment is around the [ATP tour](https://en.wikipedia.org/wiki/ATP_Tour)

The CSV files we will work with are:

Rankings:

1. https://raw.githubusercontent.com/Sagi15G/de_python_course/main/data/atp_csv/atp_rankings_90s.csv
2. https://raw.githubusercontent.com/Sagi15G/de_python_course/main/data/atp_csv/atp_rankings_00s.csv
3. https://raw.githubusercontent.com/Sagi15G/de_python_course/main/data/atp_csv/atp_rankings_current.csv

Players:

1. https://raw.githubusercontent.com/Sagi15G/de_python_course/main/data/atp_csv/atp_players.csv


**TO DO:**

Click the links and write to your self some "metadata" about the files.

For example:
- Does the file contains header?
- Does the file is comma seperated?

In [ ]:
# make sure to import pandas (:
import pandas as pd

###Task 1:

Create a dataframe for all the rankings data

- The name of the dataframe should be **df_rankings**
- The columns should be: **ranking_date,rank,player,points**
- Hint: You can use the [concat function](https://pandas.pydata.org/docs/reference/api/pandas.concat.html) to concatinate the multiple dataframes into a single dataframe 
- [pandas.read_csv documentation](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html)

In [ ]:
""" 
Task 1- Write Your Code Here 
Output:  a dataframe named df_rankings
"""

# key=path, value=is_contains_header
data_sources = {"https://raw.githubusercontent.com/Sagi15G/de_python_course/main/data/atp_csv/atp_rankings_90s.csv":1,
                "https://raw.githubusercontent.com/Sagi15G/de_python_course/main/data/atp_csv/atp_rankings_00s.csv":1,
                "https://raw.githubusercontent.com/Sagi15G/de_python_course/main/data/atp_csv/atp_rankings_current.csv":0}

list_of_df = []


for k,v in data_sources.items():
  list_of_df.append(pd.read_csv(filepath_or_buffer=k,skiprows=v,names=['ranking_date','rank','player','points']))

df_rankings = pd.concat(list_of_df)

In [ ]:
"""
Task 1: Auto-QA 
Make sure you can run this cell without errors
"""
NUM_OF_RECORDS = 1672885
assert len(df_rankings)==NUM_OF_RECORDS,"The number of records in the df_rankings Dataframe should be {0} and not {1}".format(NUM_OF_RECORDS,len(df_rankings))


for c in ['ranking_date','rank','player','points']:
  assert c in df_rankings.columns.values.tolist(),"The column {0} is not exists in the dataframe df_rankings".format(c)

###Task 2:

Create a dataframe for the players data

- The name of the dataframe should be **df_players**
- The columns should be: **player_id, first_name, last_name, hand, birth_date, country_code**

In [ ]:
""" 
Task 2- Write Your Code Here 

Output: a dataframe named df_players
"""
df_players = pd.read_csv(filepath_or_buffer='https://raw.githubusercontent.com/Sagi15G/de_python_course/main/data/atp_csv/atp_players.csv'
              ,skiprows=0,names=['player_id', 'first_name', 'last_name', 'hand', 'birth_date', 'country_code'])

In [ ]:
"""
Task 2: Auto-QA 
Make sure you can run this cell without errors
"""
NUM_OF_RECORDS = 55048
assert len(df_players)==NUM_OF_RECORDS,"The number of records in the df_players Dataframe should be {0} and not {1}".format(NUM_OF_RECORDS,len(df_players))


for c in ['player_id', 'first_name', 'last_name', 'hand', 'birth_date', 'country_code']:
  assert c in df_players.columns.values.tolist(),"The column {0} is not exists in the dataframe df_players".format(c)

## Part 2 : Data Exploration

###Task 3:

Unserstand the data of **df_rankings**

In [ ]:
""" 
Task 3.1- Write Your Code Here 
Do we have any columns that contains nulls?

Output: a print that answers the question

Hint: you can answer this question in a single command (check the class notebook)
"""
df_rankings.info()

In [ ]:
""" 
Task 3.2- Write Your Code Here 
Add a new column to the rankings dataframe named ranking_date_as_datetime
The new column data type should be datetime64[ns] when running df_rankings.dtypes

Output: a new column named ranking_date_as_datetime

Hint: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html
"""
df_rankings['ranking_date_as_datetime'] = pd.to_datetime(df_rankings['ranking_date'] ,format='%Y%m%d')

In [ ]:
"""
Task 3.2: Auto-QA 
Make sure you can run this cell without errors
"""
assert df_rankings['ranking_date_as_datetime'].dtypes =='datetime64[ns]',"The column ranking_date_as_datetime does not exists or created with a wrong type"

In [ ]:
list_of_missing_months = []

""" 
Task 3.3- Write Your Code Here 
Do we have any holes in the data in terms of missing months?
Explanation: if our data date range is between the  January/2000 and April/2001,we excpect to see at least one row from each month in the range (12+4= 16 months)


Output: Fill the list "list_of_missing_months" with missing months as string in the format of YYYY-MM
For example, if we have holes in January/1991 and April/1992 then list_of_missing_months should be equals to ['1991-01','1992-04']
"""
min_date = df_rankings.ranking_date_as_datetime.min()
max_date = df_rankings.ranking_date_as_datetime.max()


all_months = []

for y in range(min_date.year,max_date.year+1):
  for m in range(1,13):
    # Lower bound check
    if y==min_date.year and m<min_date.month:
      # ignore these months
      pass 
    # Upper bound check
    elif y==max_date.year and m>max_date.month:
       # ignore these months
      pass
    else :
      all_months.append('{year}-{month}'.format(month=m if m >=10 else "0{0}".format(m),year=y))


import numpy as np
_df_months=df_rankings['ranking_date_as_datetime'].dt.strftime("%Y-%m").unique().tolist()
list_of_missing_months=list(set(all_months)- set(_df_months))

In [ ]:
"""
Task 3.3: Auto-QA 
Make sure you can run this cell without errors
"""
assert len(list_of_missing_months) == 132,"Wrong answer"

# Can you think of the reason why we have these holes? hint: check the data sets names
print(list_of_missing_months)

In [ ]:
""" 
Task 3.4- Write Your Code Here 
Delete from the data frame df_rankings all the data of 2021


Output: The dataframe shoule not contain data of 2021
"""
# <=2009 will work as well
df_rankings = df_rankings.loc[df_rankings["ranking_date_as_datetime"].dt.year <= 2020]

In [ ]:
"""
Task 3.4: Auto-QA 
Make sure you can run this cell without errors
"""

assert df_rankings.ranking_date_as_datetime.dt.year.max()==2009

###Task 4:

Unserstand the data of **df_players**

In [ ]:
""" 
Task 4.1- Write Your Code Here 
Verify that player_id is unique (primary key) for the dataset df_players

output: any output that proves it
"""
assert len(df_players.player_id.value_counts())==len(df_players)

In [ ]:
""" 
Task 4.1- Write Your Code Here 
Check if we have players in df_rankings which not exists in  df_players


output: output that shows the answer
Hint: try to Google about translating this SQL code to pandas:
SELECT *
FROM df_rankings R LEFT JOIN df_players P
  ON R.player=P.player_id
WHERE P.player_id IS NULL
"""
_df = pd.merge(df_rankings, df_players, left_on=['player'], right_on=['player_id'], how="left", indicator=True)
_df[_df['_merge'] == 'left_only']

## Part 3 : Transforming the Data

### Task 5:
1. Check if df_players contains players without names/ with partial names. (hint: remember to look at first and last names!)
2. Check if players with null names exist in df_rankings.(hint: you need to join between the datsets to match information about df_players to rankings!)
3. Remove players with missing names from df_players (and df_rankings if needed)

In [ ]:
""" 
Task 5.1- Write Your Code Here 
Check if df_players contains players without names/ with partial names. 
(hint: remember to look at first and last names!)

Output: any output that proves your answer
"""

(df_players['first_name'].isna() | df_players['last_name'].isna()).any()

In [ ]:
""" 
Task 5.2- Write Your Code Here 
Check if players with null names exist in df_rankings.
(hint: you need to join between the datsets to match information about df_players to rankings!)

Output: any output that proves your answer
"""

# one option! there are other ways
df_players['has_null_name'] = (df_players['first_name'].isna() | df_players['last_name'].isna())
subset_of_df_players = df_players[['player_id', 'has_null_name']]
df_rankings = df_rankings.join(subset_of_df_players.set_index('player_id'), on='player',  how='left')
df_rankings[df_rankings['has_null_name']].size

In [ ]:
""" 
Task 5.3- Write Your Code Here 
Remove players with missing names from df_players (and df_rankings if needed)

Output: df_players and df_rankings don't have players with missing or partial names.
"""

df_players = df_players.dropna(subset=['first_name', 'last_name'])

In [ ]:
"""
Task 5: Auto-QA 
Make sure you can run this cell without errors
"""
assert (~df_players['first_name'].isna().any() and ~df_players['last_name'].isna().any())

###Task 6:
1. Check if df_players contains multiple rows for players with the same full name. (hint: it might help you to create a full_name column to use)
2. Check if df_rankings contains rows for players that have duplicated names in df_players. (hint: you need to join between the datsets to match information about df_players to rankings!)
3. If so, drop all the rows(!) in df_rankings and df_players for players that had the duplicated names.

In [ ]:
""" 
Task 6.1- Write Your Code Here 
Check if df_players contains multiple rows for players with the same full name. 
(hint: it might help you to create a full_name column to use)

Output: any output that proves your answer
"""

df_players['full_name'] = df_players[['first_name', 'last_name']].apply(lambda x: "{} {}".format(x[0], x[1]),  axis=1)
df_players['full_name'].duplicated().any()

In [ ]:
""" 
Task 6.2- Write Your Code Here 
Check if df_rankings contains rows for players that have duplicated names in df_players. 
(hint: you need to join between the datsets to match information about df_players to rankings!)

Output: any output that proves your answer
"""

df_players['has_duplicated_name'] = df_players['full_name'].isin(df_players['full_name'][df_players['full_name'].duplicated()])
df_rankings = df_rankings.join(df_players[['player_id', 'has_duplicated_name']].set_index('player_id'), on='player',  how='left')
df_rankings[df_rankings['has_duplicated_name']].size > 1

In [ ]:
""" 
Task 6.3- Write Your Code Here 
If so, drop all the rows(!) in df_rankings and df_players for players that had the duplicated names.

Output: df_rankings and df_players should have no rows of players that had the duplicated names.
In other words:
- df_players has no rows for players that had duplicate full names.
- df_rankings has no rows for players dropped from df_players.
"""

# dropping all duplicated rows from df_players
df_players = df_players.drop_duplicates(subset=['full_name'], keep=False)

# dropping relevant rows from df_rankings
df_rankings = df_rankings[~df_rankings['has_duplicated_name']]

In [ ]:
"""
Task 6: Auto-QA 
Make sure you can run this cell without errors
"""
assert (df_players['player_id'].count() == 53945 and df_rankings['player'].count() == 1627756)

###Task 7:
Remove rows with missing 'points' from df_rankings

In [ ]:
""" 
Task 7- Write Your Code Here 
Remove rows with missing 'points' from df_rankings 

Output: df_rankings has no rows with missing points
"""

df_rankings = df_rankings[df_rankings['points'].notnull()]

In [ ]:
"""
Task 7: Auto-QA 
Make sure you can run this cell without errors
"""
assert (df_rankings['player'].count() == 1559133)

## Part 4 : Visualizing the Data

###Task 8: 
Create a bar chart showing the number of players by country. (hint: you can use .value_counts())
- Display only the 50 countries with the highest number of players. 
- Add a title, x and y labels, and a figure size of (10, 5)

In [ ]:
""" 
Task 8- Write Your Code Here 

Create a bar chart showing the number of players by country. 
(hint: you can use .value_counts())
- Display only the 50 countries with the highest number of players. 
- Add a title, x and y labels, and a figure size of (10, 5)
"""


a = df_players['country_code'].value_counts()
a = a.head(50)

ax = a.plot.bar(figsize=(10, 5), title = 'Top 50 Countries with the most players')
ax.set_xlabel("country")
ax.set_ylabel("number of players")

###Task 9: 
Create a bar chart showing the mean ranking per country. (hint: you need to join 'country_code' info from df_players to df_rankings)
- Display only the 50 countries with the highest mean ranking. 
- Sort the values from high to low.

In [ ]:
""" 
Task 9- Write Your Code Here 

Create a bar chart showing the mean ranking per country. 
(hint: you need to join 'country_code' info from df_players to df_rankings)
- Display only the 50 countries with the highest mean ranking. 
- Sort the values from high to low.
"""

df_rankings = df_rankings.join(df_players[['player_id', 'country_code']].set_index('player_id'), on='player',  how='left')

a = df_rankings[df_rankings['points'].notnull()]

# mean points by country for the top 50 countries
a = a[['country_code', 'points']].groupby(['country_code']).mean()
a = a.sort_values(by=['points'], ascending=False)
ax = a.head(50).plot.bar(figsize=(10, 5))

###Task 10: 
Think of a question about the data. Transform your dataset and build a graph to answer that question.

In [ ]:
""" 
Task 9- Write Your Code Here 

Write a question about the data. 
Transform your dataset and build a graph to answer that question.
"""